
.footer{
    background: url(/img/footer/footer.jpg) center top repeat;
    background-size: cover;
    height: 400px;
    // padding: 0 0 260px 0;
    @media(max-width: 768px){
        margin-top: 200px;
    }
}

.section-contact-contact-title {
    font-size: 35px;
    color: #ffffff;
    padding-top: 80px;
    @media(max-width: 768px){
        font-size: 20px;
    }
}

.section-contact-contact-mail>img{
    width: 40px;
    padding-right: 30px;
    margin-top: -3px;
    float: left;
    @media(max-width: 768px){
        float: left;
        width: 25px;
        padding-right: 3px;
    }
}

.section-contact-mail-wrapper {
    padding-top: 50px;

}

.location {
    padding-top: 30px;
}

.section-contact-text-info{
    font-size: 20px;
    color: #f1cdb3;
    @media(max-width: 768px){
     font-size: 15px;   
    }
}

.section-contact-contact{
    float: left;
    padding-right: 180px;
    @media(max-width: 768px){
     padding-right: 30px;   
    //  border-right: 2px solid red;
    //  height: 300px !important;
    }
}