
.footer{
    background: url(/img/footer/footer.jpg) center top repeat;
    background-size: cover;
    height: 400px;
    // padding: 0 0 260px 0;
}

.section-contact-contact-title {
    font-size: 35px;
    color: #ffffff;
    padding-top: 80px;
}

.section-contact-contact-mail>img{
    width: 40px;
    padding-right: 30px;
    margin-top: -3px;
    float: left;
}

.section-contact-mail-wrapper {
    padding-top: 50px;

}

.location {
    padding-top: 30px;
}

.section-contact-text-info{
    font-size: 20px;
    color: #f1cdb3;
}

.section-contact-contact{
    float: left;
    padding-right: 180px;
}