.header-title-nav-2{
    color: #545454 !important;
}
.header-subtitle-2{
    font-size: 13px;
    letter-spacing: 5px;
    margin-left: 5px;
    color: #545454 ;
}


.menu-2{
    color: #545454 !important;
}